.background {
  background-color: var(--color-primary);
  padding: 20px;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
}

@media screen and (max-width: 991px) {
  .logo {
    display: none !important;
  }

  .social_medias {
    display: flex;
    justify-content: space-around;
    text-align: center;
  }

  .social_medias svg {
    font-size: 1.4rem;
  }
}

.line {
    background-color: rgba(245,245,245,0.3);
}